
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


html {
    font-size: 100%; 
}


body {
    line-height: 1;
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
}


input, textarea, button, select {
    border: none;
    outline: none;
}


ul, ol {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit; 
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

  
img, video {
    max-width: 100%;
    height: auto;
    display: block;
}
